{% extends 'base.html' %}
{% block title %} Agregar Bebida{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-offset-3 is-6">
        {% if error %}
        <div class="notification is-danger">
            {{ error }}
        </div>
        {% endif %}

        <div class="card">
            <div class="card-content">
                <div class="media">
                </div>
                <div class="content">
                    <h3 class="text-center mb-4">Agregar Bebida</h3>
                    <form action="{{ url_for('create_bebida') }}" method="POST">

                        <div class="form-group mb-3">
                            <label for="ID">ID</label>
                            <input type="text" class="form-control" id="ID" name="ID" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="descripcion">Descripción de la bebida</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="precio">Precio</label>
                            <input type="text" class="form-control" id="precio" name="precio" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="unidades">Unidades</label>
                            <input type="number" class="form-control" id="unidades" name="unidades" required>
                        </div>

                        <div class="field is-grouped is-grouped-right mt-4">
                            <p class="control">
                                <button type="submit" class="button is-primary">Guardar</button>
                            </p>
                            <p class="control">
                                <a href="{{ url_for('home') }}" class="button is-danger">Cancelar</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}